{% extends "My_profile.html" %}
{% block pages %}
<h1>Add Meal</h1>

{% if user.is_authenticated %}

{% if invalid %}
<h3>
<span style="color:red">Invalid data</span>
</h3>
{% endif %}

<form method="post" action="/accounts/profile/fooddiary/add/">

{% csrf_token %}

{{ form.as_p }}

<input type="submit" value="Enter data" id="mealadd" / class="clearfix">
</form>
    
<script type="text/javascript">
document.getElementById('mealadd').focus();
</script>



{% else %}

Please <a href="/login/">login</a> first to add weight data.<br/><br/>

{% endif %}
{% endblock %}