{% extends "blog/base.html" %}
{% block content %}

{% if user.is_authenticated %}

<h1>Profile for {{ form.data.username }} ({{ form.data.email }}) </h1>

{% if status == 2 %}
<span style="color:red">Error in form</span>
{% endif %}

{% if status == 1 %}
<span style="color:green">Success</span>
{% endif %}

<form enctype="multipart/form-data" method="post" action="">
{% csrf_token %}
{% for field in form %}
    <div class="fieldWrapper">
        {{ field.label_tag }} {{ field }}
    </div>

{% endfor %}
    <!--<div>-->
    <!--{% if post.image == None%}-->
        <!--<img src="{{post.image.url}}" alt="My image"/>-->
    <!--{% endif %}-->
     <!--</div>-->
<input type="submit" value="Update info" / class="clearfix">
</form>

<script type="text/javascript">
document.getElementById('username').focus();
</script>

{% else %}

<h1>Not authenticated</h1>

In order to see your account profile you need to <a href="/login/">login</a>.<br/><br/>

{% endif %}

{% endblock %}