{% extends "blog/base.html" %}
{% block content %}

{% if user.is_authenticated %}

<h1>Profile for {{ form.data.username }} ({{ form.data.email }}) </h1>

{% if status == 2 %}
<span style="color:red">Error in form</span>
{% endif %}

{% if status == 1 %}
<span style="color:green">Success</span>
{% endif %}

<form enctype="multipart/form-data" method="post" action="">
{% csrf_token %}

        <div style="position: relative;  width: 100px; height: 100px; overflow: hidden; display: inline-block;">
            <div style ="position: absolute;   left: 50%;   top: 50%;   min-height: 100%;  min-width: 100%;   height: auto;   width: auto;   transform: translate(-50%, -50%);">
               {% if data.image %}
                    <p> <img src="{{data.image}}" align="middle" alt="Photo"/></p>
                {%else %}
                    <p> <img src="/media/avatar/no-avatar.png"  align="middle" alt="Photo"/></p>
                {% endif %}
            </div>
        </div>

{% for field in form %}
    <div class="fieldWrapper">
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
<input type="submit" value="Update info" / class="clearfix">
</form>

<script type="text/javascript">
document.getElementById('username').focus();
</script>

{% else %}

<h1>Not authenticated</h1>

In order to see your account profile you need to <a href="/login/">login</a>.<br/><br/>

{% endif %}

{% endblock %}